*{
  font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #dde9f5;
  }
  
  #main-holder {
    width: 900px;
    height: 700px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px #3e6cbf;
  }
  
  #new-form {
    align-self: flex-start;
    display: grid;
    justify-items: left;
    align-items: left;
  }

  #new-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #new-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  .new-form-field {
    outline: none;
  }
  
  #new-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3e6cbf;
    cursor: pointer;
    outline: none;
  }

  form {
    direction: ltr;
  }

  input{
  display: block;
  direction: ltr;
  }

  #new-header{
    color:#3e6cbf;
  }