body {
    background-color: #dde9f5;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  .header {
    background-color: #3e6cbf;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-button {
    background-color: #3e6cbf;
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .header-button i {
    color: #fff;
    font-size: 20px;
  }
  
  .main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 70px);
  }
  
  .box {
    background-color: #fff;
    width: 500px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #3e6cbf;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  h2 {
    color: #3e6cbf;
    font-size: 24px;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 20px;
  }
  
  p {
    color: #333;
    font-size: 18px;
    margin: 0;
    padding-bottom: 20px;
  }
  
  button {
    background-color: #3e6cbf;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  
  #points {
    color: #fff;
    font-size: 18px;
  }
  
  #welcome{
    margin-bottom:35px;
  }

  #company-header{
    font-size: 24px;
    color: #fff;
    padding-left: 35px;
  }