*{
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #dde9f5;
    margin: 0;
}
#main-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#setting-header {
    background-color: #3e6cbf;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.box {
    background-color: #fff;;
    width: 50%;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #3e6cbf;
}
#name, #organization {
    font-size: 24px;
    margin-top: 10px;
}
#new-pw-submit {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3e6cbf;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#password-change p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}
  
.header-button {
    background-color: #3e6cbf;
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
.header-button i {
    color: #fff;
    font-size: 20px;
}

#password{
    font-size: 24px;
}

#company-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #fff;
    font-size: 24px;
    margin-left: 170px;
  }

input{
    color:white;
  }
