body {
    background-color: #dde9f5;
    margin: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  #main-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 70px);
  }

  #form-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #survey-create-submit {
    background-color: #3e6cbf;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }

  #survey-text {
    height:200px;
    width:500px;
    font-size:12pt;
    resize: none;
  }